<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcq6zMW9CEC__HmxPH3joCjo5Nk2X-2dc</string>
	<key>GCM_SENDER_ID</key>
	<string>350290070011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rashid</string>
	<key>PROJECT_ID</key>
	<string>rashid-3b5e0</string>
	<key>STORAGE_BUCKET</key>
	<string>rashid-3b5e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350290070011:ios:348631a6920712c14fe35e</string>
</dict>
</plist>